.header_menu ul{
    list-style-type: none;
    margin-left: 319px;
    margin-top: -78px;
}

.header_menu a {
     text-decoration: none;
     color: black;
     font-size: 24px;
}

.img_header{
        margin-left: 86px;
        margin-top: 35px;
}

.header_menu li{
    display:inline-block ;
    margin-right: 148px;
}

.search {
    display: flex;
    font-size: 20px;
    margin-left: 1154px;
    margin-top: -60px;
    align-items: center;
    border-bottom: 1px solid gray;
    width: 520px;
}

.search_img {
    margin-top: 0px;
    margin-left: 374px;
}

.header_login {
    margin-left: 1796px;
    margin-top: -60px;
}

.logim_p {
    margin-top: -10px;
    margin-left: 5px;
}

.menu li:hover {
    border-bottom: 1px solid grey;
}

.header_login:hover {

     cursor: pointer;
     transform: scale(1.1);
}

.header_login img:hover {

     cursor: pointer;

}
footer {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin: 0 auto;
    border-bottom: 2px solid black;
    width: 1650px;
}
.footer-nav {
    display: flex;
    gap: 50px;
    font-size: 20px;
}
.footer-li {
    display: flex;
    align-items: center;
}
.down-footer {
    text-align: center;
    font-size: 16px;
}
.main {
   margin-top: 90px;
}
.main h1 {
    font-size: 64px;
    text-align: center;
}
.main input {
    border-bottom:1px solid black ;
    width: 617px;
    margin-bottom: 100px;
    font-size: 24px;
    border: 0px;
    border-bottom:1px solid black ;
    margin-left: 647px;
}

.button {
    background-color: black;
    width: 311px;
    height: 68px;
    border-radius: 15px ;
    align-items: center;
    margin-left: 790px;
    margin-top: 50px;
    color: white;
    font-size: 40px;
}
.registrate {
    text-align: center;
    font-size: 24px;
    border-bottom: 1px solid black;
    color:  black;  
}

@media (max-width: 1720px) {
    .header_menu ul{
    list-style-type: none;
    margin-left: 219px;
    margin-top: -78px;
}

.header_menu a {
    text-decoration: none;
     color: black;
     font-size: 22px;
}

.img_header{
        margin-left: 86px;
        margin-top: 35px;
}

.header_menu li{
    display:inline-block ;
    margin-right: 50px;
}

.menu li:hover {
    border-bottom: 1px solid grey;
}

.header_login:hover {
     cursor: pointer;
     transform: scale(1.1);
}

.header_login img:hover {
     cursor: pointer;
}

.search {
    display: flex;
    font-size: 20px;
    margin-left: 850px;
    margin-top: -60px;
    align-items: center;
    border-bottom: 1px solid gray;
    width: 320px;
}

.search_img {
    margin-top: 0px;
    margin-left: 174px;
}

.header_login {
    margin-left: 1250px;
    margin-top: -60px;
}

.logim_p {
    margin-top: -10px;
    margin-left: 5px;
}
    .login_fotm {
        width: 1720px;
    }
    .main input {
        margin-left: 550px;
    }
    .button {
        margin-left: 700px;
    }
    .img_header {
        width: 100px;
    }
     footer {
        width: 1500px;
    }
}

@media (max-width: 1520px) {
    .header_menu ul{
    list-style-type: none;
    margin-left: 219px;
    margin-top: -78px;
}

.header_menu a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.img_header{
    margin-left: 86px;
    margin-top: 35px;
}

.header_menu li{
    display:inline-block ;
    margin-right: 50px;
}

.menu li:hover {
    border-bottom: 1px solid grey;
}

.header_login:hover {
     cursor: pointer;
     transform: scale(1.1);
}

.header_login img:hover {
     cursor: pointer;
}

.search {
    display: flex;
    font-size: 20px;
    margin-left: 800px;
    margin-top: -60px;
    align-items: center;
    border-bottom: 1px solid gray;
    width: 320px;
}

.search_img {
    margin-top: 0px;
    margin-left: 174px;
}

.header_login {
    margin-left: 1150px;
    margin-top: -60px;
}

.logim_p {
    margin-top: -10px;
    margin-left: 5px;
}
    .login_fotm {
        width: 1520px;
    }
    .main input {
        margin-left: 450px;
    }
    .button {
        margin-left: 600px;
    }
    .img_header {
        width: 100px;
    }
    footer {
        width: 1400px;
    }
}   

@media (max-width: 1320px) {
    .header_menu ul{
    list-style-type: none;
    margin-left: 219px;
    margin-top: -78px;
}

.header_menu a {
    text-decoration: none;
     color: black;
     font-size: 20px;
}

.img_header{
        margin-left: 86px;
        margin-top: 35px;
}

.header_menu li{
    display:inline-block ;
    margin-right: 50px;
}

.menu li:hover {
    border-bottom: 1px solid grey;
}

.header_login:hover {
     cursor: pointer;
     transform: scale(1.1);
}

.header_login img:hover {
     cursor: pointer;
}

.search {
    display: flex;
    font-size: 20px;
    margin-left: 850px;
    margin-top: -60px;
    align-items: center;
    border-bottom: 1px solid gray;
    width: 320px;
}

.search_img {
    margin-top: 0px;
    margin-left: 174px;
}

.header_login {
    margin-left: 1230px;
    margin-top: -60px;
}

.logim_p {
    margin-top: -10px;
    margin-left: 5px;
}
    .login_fotm {
        width: 1320px;
    }
    .main input {
        margin-left: 350px;
    }
    .button {
        margin-left: 500px;
    }
    p {
        font-size: 18px;
    }
    footer {
        width: 1300px;
    }
}

@media (max-width: 1120px) {
    .header_menu ul{
    list-style-type: none;
    margin-left: 219px;
    margin-top: -78px;
}

.header_menu a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.img_header{
    margin-left: 66px;
    margin-top: 2%;
}

.header_menu li{
    display:inline-block ;
    margin-right: 50px;
}

.menu li:hover {
    border-bottom: 1px solid grey;
}

.header_login:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.header_login img:hover {
    cursor: pointer;
}

.search {
    display: flex;
    font-size: 15px;
    margin-left: 630px;
    margin-top: -60px;
    align-items: center;
    border-bottom: 1px solid gray;
    width: 300px;
}

.search_img {
    margin-top: 0px;
    margin-left: 174px;
}

.header_login {
    margin-left: 950px;
    margin-top: -60px;
}

.logim_p {
    margin-top: -10px;
    margin-left: 5px;
}
    .login_fotm {
        width: 1120px;
    }
    .main input {
        margin-left: 250px;
    }
    .button {
        margin-left: 400px;
    }
    p {
        font-size: 18px;
    }
    footer {
        width: 1050px;
    }
}

@media (max-width: 920px) {
    .header_menu ul{
    list-style-type: none;
    margin-left: 170px;
    margin-top: -78px;
}

.header_menu a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.img_header{
    margin-left: 66px;
    margin-top: 2%;
}

.header_menu li{
    display:inline-block ;
    margin-right: 30px;
}

.menu li:hover {
    border-bottom: 1px solid grey;
}

.header_login:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.header_login img:hover {
    cursor: pointer;
}

.search {
    display: flex;
    font-size: 14px;
    margin-left: 530px;
    margin-top: -60px;
    align-items: center;
    border-bottom: 1px solid gray;
    width: 300px;
}

.search_img {
    margin-top: 0px;
    margin-left: 174px;
}

.header_login {
    margin-left: 850px;
    margin-top: -60px;
}

.logim_p {
    margin-top: -10px;
    margin-left: 5px;
}
    .login_fotm {
        width: 920px;
    }
    .main input {
        margin-left: 150px;
    }
    .button {
        margin-left: 300px;
    }
    p {
        font-size: 18px;
    }
    footer {
        width: 890px;
    }
}

@media (max-width: 720px) {
    .header_menu ul{
    list-style-type: none;
    margin-left: 520px;
    margin-top: -78px;
    margin-bottom: 50px;
}

.header_menu a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
    width: 150px;
}

.img_header{
    margin-left: 66px;
    margin-top: 2%;
}

.header_menu li{
    display: flex;
    flex-direction: column;
}

.menu li:hover {
    border-bottom: 1px solid grey;
}

.header_login:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.header_login img:hover {
    cursor: pointer;
}

.search {
    display: flex;
    font-size: 17px;
    margin-left: 230px;
    margin-top: -150px;
    align-items: center;
    border-bottom: 1px solid gray;
    width: 300px;
}

.search_img {
    margin-top: 0px;
    margin-left: 174px;
}

.header_login {
    display: none;
    margin-left: 850px;
    margin-top: -60px;
}

.logim_p {
    margin-top: -10px;
    margin-left: 5px;
}
    .login_fotm {
        width: 720px;
    }
    .main input {
        margin-left: 50px;
    }
    .button {
        margin-left: 200px;
    }
    p {
        font-size: 18px;
    }
    footer {
        width: 700px;
    }
}

    @media (max-width: 520px) {
        .header_menu ul{
    list-style-type: none;
    margin-left: 200px;
    margin-top: -78px;
    margin-bottom: 50px;
}

.header_menu a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
    width: 150px;
}

.img_header{
    margin-left: 50px;
    margin-top: 2%;
}

.header_menu li{
    display: flex;
    flex-direction: column;
}

.menu li:hover {
    border-bottom: 1px solid grey;
}

.header_login:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.header_login img:hover {
    cursor: pointer;
}

.search {
    display: none;
    font-size: 17px;
    margin-left: 170px;
    margin-top: -150px;
    align-items: center;
    border-bottom: 1px solid gray;
    width: 300px;
}

.search_img {
    margin-top: 0px;
    margin-left: 174px;
}

.header_login {
    display: none;
    margin-left: 850px;
    margin-top: -60px;
}

.logim_p {
    margin-top: -10px;
    margin-left: 5px;
}
        .login_fotm {
        width: 520px;
    }
    .main input {
        margin-left: 50px;
        width: 400px;
    }
    .button {
        margin-left: 100px;
    }
    p {
        font-size: 18px;
    }
    footer {
        width: 500px;
    }
    }

    @media (max-width: 320px) {
        .header_menu ul{
    list-style-type: none;
    margin-left: 50px;
    margin-top: 78px;
    margin-bottom: 50px;
}

.header_menu a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
    width: 150px;
}

.img_header{
    margin-left: 105px;
    margin-top: 2%;
}

.header_menu li{
    display: flex;
    flex-direction: column;
}

.menu li:hover {
    border-bottom: 1px solid grey;
}

.header_login:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.header_login img:hover {
    cursor: pointer;
}

.search {
    display: none;
    font-size: 17px;
    margin-left: 170px;
    margin-top: -150px;
    align-items: center;
    border-bottom: 1px solid gray;
    width: 300px;
}

.search_img {
    margin-top: 0px;
    margin-left: 174px;
}

.header_login {
    display: none;
    margin-left: 850px;
    margin-top: -60px;
}

.logim_p {
    margin-top: -10px;
    margin-left: 5px;
}
                .login_fotm {
        width: 320px;
    }
    .main input {
        margin-left: 30px;
        width: 260px;
        font-size: 14px;
    }
    .button {
        margin-top: -50px;
        margin-left: 80px;
        width: 150px;
        height: 50px;
        font-size: 16px;
    }
    p {
        font-size: 18px;
    }
    h1 {
        font-size: 14px;
    }
    footer {
        width: 350px;
    }
    .footer-li {
        margin-right: 1px;
        font-size: 13px;
    }
    }
