.header_menu  ul{
    list-style-type: none;
    margin-left: 319px;
    margin-top: -78px;
}
.header_menu a {
     text-decoration: none;
     color: black;
     font-size: 24px;
}
.img_header{
margin-left: 86px;
margin-top: 35px;
}
.header_menu  li{
    display:inline-block ;
    margin-right: 148px;
}
.search {
    display: flex;
    font-size: 20px;
    margin-left: 1154px;
    margin-top: -60px;
    align-items: center;
    border-bottom: 1px solid gray;
    width: 520px;
}
.search_img {
margin-top: 0px;
margin-left: 374px;
}
.header_login {
    margin-left: 1796px;
    margin-top: -60px;
}
.logim_p {
    margin-top: -10px;
    margin-left: 5px;
}
.menu li:hover {
    border-bottom: 1px solid grey;
}
.header_login:hover {

     cursor: pointer;
     transform: scale(1.1);
}
.header_login img:hover {

     cursor: pointer;

}
footer {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin: 0 auto;
    border-bottom: 2px solid black;
    width: 1650px;
}
.footer-nav {
    display: flex;
    gap: 50px;
    font-size: 20px;
}
.footer-li {
    display: flex;
    align-items: center;
}
.down-footer {
    text-align: center;
    font-size: 16px;
}
.main {
   margin-top: 90px;
}
.main h1 {
    font-size: 64px;
    text-align: center;
}
.main input {
    border-bottom:1px solid black ;
    width: 617px;
    margin-bottom: 40px;
    font-size: 24px;
    border: 0px;
    border-bottom:1px solid black ;
    margin-left: 647px;
}

.button {
    background-color: black;
    width: 409px;
    height: 67px;
    border-radius: 15px ;
    align-items: center;
    margin-left: 733px;
    margin-top: 50px;
    color: white;
    font-size: 40px;
}
.registrate {
    text-align: center;
    font-size: 24px;
    border-bottom: 1px solid black;
    color:  black;  
}
