.body {
    font-family: "Roboto", sans-serif;
}

.header_menu ul{
    list-style-type: none;
    margin-left: 319px;
    margin-top: -78px;
}

.header_menu a {
     text-decoration: underline;
     color: black;
     font-size: 24px;
}

.img_header{
        margin-left: 86px;
        margin-top: 35px;
}

.header_menu li{
    display:inline-block ;
    margin-right: 148px;
}

.search {
    display: flex;
    font-size: 20px;
    margin-left: 1154px;
    margin-top: -60px;
    align-items: center;
    border-bottom: 1px solid gray;
    width: 520px;
}

.search_img {
    margin-top: 0px;
    margin-left: 374px;
}

.header_login {
    margin-left: 1796px;
    margin-top: -60px;
}

.logim_p {
    margin-top: -10px;
    margin-left: 5px;
}

.header_login:hover {

     cursor: pointer;
     transform: scale(1.1);
}

.header_login img:hover {

     cursor: pointer;

}
.Premium_main {
    margin-top: 176px;
    margin-left: 143px;
    background-image: url(../img/image\ 22\ \(1\).png);
    background-repeat: no-repeat;
    background-position-x: 700px;
}
.Premium_main h1 {
    font-size: 96px;
}
.Premium_main p {
    margin-top: -30px;
    font-size: 20px;
}
.Premium_main button {
    margin-left: 60px;
    margin-top: 68px;
    background-color: black;
    width: 334px;
    height: 64px;
    color: white;
    font-size: 16px;
}
.car_cards h1 {
    font-size: 60px;
    text-align: center;
}
.card {
    width: 364px;
    height: 484px;
    margin-right: 162px;
}
.card p {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin-top: -10px;

    color: black;
}
.card button {
    width: 364px;
    height: 54px;
    background-color: #030305;
    color: white;
}
.card img {
    position: relative;
    align-items: center;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 200px;
}
.cards_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 200px;
}
.Wraith {
    width: 364px;
    height: 484px;
    margin-right: 162px;
    margin-top: 54px;
}
.Wraith p {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin-top: -10px;
}
.Wraith img {
    position: relative;
    align-items: center;
}
.Wraith button {
    width: 364px;
    height: 54px;
    background-color: #030305;
    color: white;
}
.cs {
    width: 364px;
    height: 484px;
    margin-right: 162px;
    margin-top: 12px;
}
.cs p {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin-top: -10px;
}
.cs img {
    position: relative;
    align-items: center;
}
.cs button {
    width: 364px;
    height: 54px;
    background-color: #030305;
    color: white;
}

.form h1 {
    font-size: 60px;
    color: black;
    text-align: center;
}
form input {
    width: 344px;
    height: 65px;
}
.price-form {
    max-width: 344px;
    display: flex;
    flex-direction: column;
    margin-left: 788px;
    font-size: 16px;
}

.form form {
    margin-left: 788px;
}
.button {
    height: 64px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: 16px;
}
.price-input::placeholder {
    padding-left: 10px;
}
.form_pp {
    text-align: center;
    color: #5d5d5f;
    font-size: 16px;
}
footer {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin: 0 auto;
    border-bottom: 2px solid black;
    width: 1650px;
}
.footer-nav {
    display: flex;
    gap: 50px;
    font-size: 20px;
}
.footer-li {
    display: flex;
    align-items: center;
}
.down-footer {
    text-align: center;
    font-size: 16px;
}
.menu li:hover {
    border-bottom: 1px solid grey;
}
.header_login:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.header_login img:hover {
    cursor: pointer;
}
.card button:hover {
    transform: scale(1.1);
    transition: 0.16s;
}
.Wraith button:hover {
    transform: scale(1.1);
    transition: 0.16s;
}
.cs button:hover {
    transform: scale(1.1);
    transition: 0.16s;
}

@media (max-width: 1720px) {
    .header_menu ul{
    list-style-type: none;
    margin-left: 219px;
    margin-top: -78px;
}

.header_menu a {
    text-decoration: none;
     color: black;
     font-size: 22px;
}

.img_header{
        margin-left: 86px;
        margin-top: 35px;
}

.header_menu li{
    display:inline-block ;
    margin-right: 50px;
}

.menu li:hover {
    border-bottom: 1px solid grey;
}

.header_login:hover {
     cursor: pointer;
     transform: scale(1.1);
}

.header_login img:hover {
     cursor: pointer;
}

.search {
    display: flex;
    font-size: 20px;
    margin-left: 850px;
    margin-top: -60px;
    align-items: center;
    border-bottom: 1px solid gray;
    width: 320px;
}

.search_img {
    margin-top: 0px;
    margin-left: 174px;
}

.header_login {
    margin-left: 1250px;
    margin-top: -60px;
}

.logim_p {
    margin-top: -10px;
    margin-left: 5px;
}
    footer {
        width: 1500px;
    }
    .form {
        margin-left: -100px;
    }
    .form h1 {
        margin-left: 100px;
    }
    .form p {
        margin-left: 100px;
    }
}

@media (max-width: 1620px) {
    .header_menu ul{
    list-style-type: none;
    margin-left: 219px;
    margin-top: -78px;
}

.header_menu a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.img_header{
    margin-left: 86px;
    margin-top: 35px;
}

.header_menu li{
    display:inline-block ;
    margin-right: 50px;
}

.menu li:hover {
    border-bottom: 1px solid grey;
}

.header_login:hover {
     cursor: pointer;
     transform: scale(1.1);
}

.header_login img:hover {
     cursor: pointer;
}

.search {
    display: flex;
    font-size: 20px;
    margin-left: 800px;
    margin-top: -60px;
    align-items: center;
    border-bottom: 1px solid gray;
    width: 320px;
}

.search_img {
    margin-top: 0px;
    margin-left: 174px;
}

.header_login {
    margin-left: 1150px;
    margin-top: -60px;
}

.logim_p {
    margin-top: -10px;
    margin-left: 5px;
}
    footer {
        width: 1450px;
    }
    .form {
        margin-left: -130px;
    }
    .form h1 {
        margin-left: 160px;
    }
    .form p {
        margin-left: 200px;
    }
}

@media (max-width: 1520px) {
    .header_menu ul{
    list-style-type: none;
    margin-left: 219px;
    margin-top: -78px;
}

.header_menu a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.img_header{
    margin-left: 86px;
    margin-top: 35px;
}

.header_menu li{
    display:inline-block ;
    margin-right: 50px;
}

.menu li:hover {
    border-bottom: 1px solid grey;
}

.header_login:hover {
     cursor: pointer;
     transform: scale(1.1);
}

.header_login img:hover {
     cursor: pointer;
}

.search {
    display: flex;
    font-size: 20px;
    margin-left: 800px;
    margin-top: -60px;
    align-items: center;
    border-bottom: 1px solid gray;
    width: 320px;
}

.search_img {
    margin-top: 0px;
    margin-left: 174px;
}

.header_login {
    margin-left: 1150px;
    margin-top: -60px;
}

.logim_p {
    margin-top: -10px;
    margin-left: 5px;
}
    footer {
        width: 1400px;
    }
    .form {
        margin-left: -190px;
    }
    .form h1 {
        margin-left: 160px;
    }
    .form p {
        margin-left: 240px;
    }
}

@media (max-width: 1420px) {
    .header_menu ul{
    list-style-type: none;
    margin-left: 219px;
    margin-top: -78px;
}

.header_menu a {
    text-decoration: none;
     color: black;
     font-size: 20px;
}

.img_header{
        margin-left: 86px;
        margin-top: 35px;
}

.header_menu li{
    display:inline-block ;
    margin-right: 50px;
}

.menu li:hover {
    border-bottom: 1px solid grey;
}

.header_login:hover {
     cursor: pointer;
     transform: scale(1.1);
}

.header_login img:hover {
     cursor: pointer;
}

.search {
    display: flex;
    font-size: 20px;
    margin-left: 900px;
    margin-top: -60px;
    align-items: center;
    border-bottom: 1px solid gray;
    width: 320px;
}

.search_img {
    margin-top: 0px;
    margin-left: 174px;
}

.header_login {
    margin-left: 1250px;
    margin-top: -60px;
}

.logim_p {
    margin-top: -10px;
    margin-left: 5px;
}
    footer {
        width: 1350px;
    }
    .form {
        margin-left: -230px;
    }
    .form h1 {
        margin-left: 280px;
    }
    .form p {
        margin-left: 290px;
    }
}

@media (max-width: 1320px) {
    .header_menu ul{
    list-style-type: none;
    margin-left: 219px;
    margin-top: -78px;
}

.header_menu a {
    text-decoration: none;
     color: black;
     font-size: 20px;
}

.img_header{
        margin-left: 86px;
        margin-top: 35px;
}

.header_menu li{
    display:inline-block ;
    margin-right: 50px;
}

.menu li:hover {
    border-bottom: 1px solid grey;
}

.header_login:hover {
     cursor: pointer;
     transform: scale(1.1);
}

.header_login img:hover {
     cursor: pointer;
}

.search {
    display: flex;
    font-size: 20px;
    margin-left: 850px;
    margin-top: -60px;
    align-items: center;
    border-bottom: 1px solid gray;
    width: 320px;
}

.search_img {
    margin-top: 0px;
    margin-left: 174px;
}

.header_login {
    margin-left: 1230px;
    margin-top: -60px;
}

.logim_p {
    margin-top: -10px;
    margin-left: 5px;
}
    footer {
        width: 1300px;
    }
    .form {
        margin-left: -290px;
    }
    .form h1 {
        margin-left: 290px;
    }
    .form p {
        margin-left: 340px;
    }
}

@media (max-width: 1220px) {
    .header_menu ul{
    list-style-type: none;
    margin-left: 219px;
    margin-top: -78px;
}

.header_menu a {
    text-decoration: none;
     color: black;
     font-size: 18px;
}

.img_header{
        margin-left: 66px;
        margin-top: 2%;
}

.header_menu li{
    display:inline-block ;
    margin-right: 50px;
}

.menu li:hover {
    border-bottom: 1px solid grey;
}

.header_login:hover {
     cursor: pointer;
     transform: scale(1.1);
}

.header_login img:hover {
     cursor: pointer;
}

.search {
    display: flex;
    font-size: 15px;
    margin-left: 750px;
    margin-top: -60px;
    align-items: center;
    border-bottom: 1px solid gray;
    width: 300px;
}

.search_img {
    margin-top: 0px;
    margin-left: 174px;
}

.header_login {
    margin-left: 1100px;
    margin-top: -60px;
}

.logim_p {
    margin-top: -10px;
    margin-left: 5px;
}
    footer {
        width: 1000px;
    }
    .form {
        margin-left: -320px;
    }
    .form h1 {
        margin-left: 330px;
    }
    .form p {
        margin-left: 400px;
    }
}

@media (max-width: 1120px) {
    .header_menu ul{
    list-style-type: none;
    margin-left: 219px;
    margin-top: -78px;
}

.header_menu a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.img_header{
    margin-left: 66px;
    margin-top: 2%;
}

.header_menu li{
    display:inline-block ;
    margin-right: 50px;
}

.menu li:hover {
    border-bottom: 1px solid grey;
}

.header_login:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.header_login img:hover {
    cursor: pointer;
}

.search {
    display: flex;
    font-size: 15px;
    margin-left: 630px;
    margin-top: -60px;
    align-items: center;
    border-bottom: 1px solid gray;
    width: 300px;
}

.search_img {
    margin-top: 0px;
    margin-left: 174px;
}

.header_login {
    margin-left: 950px;
    margin-top: -60px;
}

.logim_p {
    margin-top: -10px;
    margin-left: 5px;
}
    footer {
        width: 1050px;
    }
    .form {
        margin-left: -370px;
    }
    .form h1 {
        margin-left: 450px;
    }
    .form p {
        margin-left: 460px;
    }
}

@media (max-width: 1020px) {
    .header_menu ul {
        margin-left: 170px;
    }
    .header_menu li {
        margin-right: 70px;
    }
    .search {
        margin-left: 600px;
        width: 230px;
    }
    .header_login {
        margin-left: 900px;
    }
    footer {
        width: 900px;
    }
    .form {
        margin-left: -420px;
    }
    .form h1 {
        margin-left: 520px;
    }
    .form p {
        margin-left: 500px;
    }
    .header_menu a {
        font-size: 16px;
    }
    .search img {
        margin-left: 200px;
    }
}

@media (max-width: 920px) {
    .header_menu ul {
        margin-left: 180px;
    }
    .search img {
        margin-left: 200px;
    }
    .header_menu li {
        margin-right: 30px;
    }
    .search {
        margin-left: 500px;
        width: 300px;
    }
    .header_login {
        margin-left: 850px;
    }
    footer {
        width: 890px;
    }
    .form {
        margin-left: -480px;
    }
    .form h1 {
        margin-left: 520px;
    }
    .form p {
        margin-left: 540px;
    }
}

@media (max-width: 820px) {
    .header_menu ul {
        margin-left: 170px;
    }
    .header_menu li {
        margin-right: 10px;
    }
    .search {
        margin-left: 450px;
        width: 280px;
    }
    .header_login {
        margin-left: 750px;
    }
    footer {
        width: 800px;
    }
    .form {
        margin-left: -520px;
    }
    .form h1 {
        margin-left: 570px;
    }
    .form p {
        margin-left: 590px;
    }
}

@media (max-width: 720px) {
    .header_menu ul {
        margin-left: 160px;
    }
    .header_menu li {
        margin-right: 40px;
    }
    .search {
        margin-left: 500px;
        width: 100px;
    }
    .header_login {
        margin-left: 640px;
    }
    footer {
        width: 700px;
    }
    .form {
        margin-left: -580px;
    }
    .form h1 {
        margin-left: 570px;
    }
    .form p {
        margin-left: 650px;
    }
    .search img {
        margin-left: 50px;
    }
    .Premium_main h1 {
        font-size: 60px;
    }
    .Premium_main p {
        font-size: 20px;
    }
}

@media (max-width: 620px) {
    .header_menu ul {
        margin-left: 100px;
    }
    .header_menu li {
        margin-right: 40px;
    }
    .search {
        margin-left: 440px;
        width: 80px;
        font-size: 16px;
    }
    .header_login {
        margin-left: 557px;
    }
    footer {
        width: 600px;
    }
    .form {
        margin-left: -640px;
    }
    .form h1 {
        margin-left: 660px;
    }
    .form p {
        margin-left: 690px;
    }
    .search img {
        margin-left: 50px;
    }
    .Premium_main h1 {
        font-size: 60px;
    }
    .Premium_main p {
        font-size: 20px;
    }
    .img_header {
        margin-left: 10px;
    }
}

@media (max-width: 520px) {
    .header_menu ul {
        margin-left: 80px;
    }
    .header_menu li {
        margin-right: 1px;
    }
    .header_menu a {
        margin-right: 1px;
    }
    .search {
        margin-left: 380px;
        width: 50px;
        font-size: 14px;
    }
    .header_login {
        margin-left: 427px;
    }
    footer {
        width: 500px;
    }
    .form {
        margin-left: -690px;
    }
    .form h1 {
        margin-left: 700px;
    }
    .form p {
        margin-left: 720px;
    }
    .search img {
        margin-left: 1px;
    }
    .Premium_main h1 {
        font-size: 50px;
    }
    .Premium_main p {
        font-size: 16px;
    }
    .img_header {
        margin-left: 1px;
    }
    .Premium_main button {
        margin-left: -40px;
    }
    .img_header {
        margin-left: 20px;
    }
}

@media (max-width: 420px) {
    .header_menu ul {
        margin-left: 50px;
    }
    .header_menu li {
        margin-right: 1px;
    }
    .search {
        margin-left: 300px;
        width: 50px;
        font-size: 14px;
    }
    .header_login {
        margin-left: 352px;
    }
    footer {
        width: 350px;
    }
    .footer-li {
        margin-right: 1px;
        font-size: 13px;
    }
    .logo {
        margin-left: 1px;
    }
    .form {
        margin-left: -760px;
    }
    .form h1 {
        margin-left: 760px;
    }
    .form p {
        margin-left: 770px;
    }
    .search img {
        margin-left: 1px;
    }
    .Premium_main h1 {
        font-size: 50px;
    }
    .Premium_main p {
        font-size: 16px;
    }
    .img_header {
        margin-left: 1px;
        width: 100px;
        height: 100px;
    }
    .Premium_main button {
        margin-left: -30px;
    }
    .Premium_main {
        margin-left: 50px;
    }
}

@media (max-width: 320px) {
    .header_menu ul {
        margin-left: 40px;
    }
    .header_menu li {
        margin-right: -3px;
    }
    .search {
        margin-left: 290px;
        width: 50px;
        font-size: 14px;
    }
    .header_login {
        margin-left: 335px;
    }
    footer {
        width: 350px;
    }
    .footer-li {
        margin-right: 1px;
        font-size: 13px;
    }
    .logo {
        margin-left: 1px;
    }
    .form {
        margin-left: -770px;
    }
    .form h1 {
        margin-left: 810px;
    }
    .button {
        margin-left: 80px;
    }
    .form p {
        margin-left: 850px;
    }
    .search img {
        margin-left: 1px;
    }
    .Premium_main h1 {
        font-size: 50px;
    }
    .Premium_main p {
        font-size: 16px;
    }
    .img_header {
        margin-left: -10px;
        width: 100px;
        height: 100px;
    }
    .Premium_main button {
        margin-left: -30px;
    }
    .Premium_main {
        margin-left: 50px;
    }
}

@media (max-width: 220px) {
    .header_menu ul {
        margin-left: 2px;
    }
    .header_menu li {
        margin-right: 5px;
    }
    .search {
        margin-left: 250px;
        width: 150px;
    }
    .header_login {
        margin-left: 560px;
    }
    footer {
        width: 750px;
    }
}









